$c-decor: #B96A2B;

@mixin md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin md-book{
  @media (min-width: 640.1px) and (min-height: 80vw){
    @content
  }
}

@mixin sm{
  @media (max-width: 640px) {
    @content
  }
}

@mixin text-stroke($r: 255, $g: 255, $b: 255,$a: 0.78){
  text-stroke-width: 1px;
  text-stroke-color: rgba($r, $g, $b, $a);


  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba($r, $g, $b, $a);
}